{% extends 'todos/base.html' %}

{% block content %}
<a href="{% url 'todos:index' %}">[뒤로]</a>
<a href="{% url 'todos:edit' todo.pk %}">[수정]</a>

<div>글번호: {{ todo.pk }}</div>
<div>제목: {{ todo.title }}</div>
<div>내용: {{ todo.content }}</div>
<div>우선순위: {{ todo.priority }}</div>
<div>마감기한: {{ todo.deadline }}</div>
<div>완료여부: {{ todo.completed }}</div>

<form action="{% url 'todos:delete' todo.pk %}" method="POST">
  {% csrf_token %}
  <input type="submit" value="삭제">
</form>

{% endblock content %}