{% extends 'todos/base.html' %}

{% block content %}
<a href="{% url 'todos:index' %}">[뒤로]</a>
<h3>할 일 등록</h3>
<form action="{% url 'todos:create' %}" method="POST" >
  {% csrf_token %}
  <div>
    <label for="title">제목</label><br>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="content">내용</label><br>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
  </div>
  <div>
    <label for="priority">우선순위</label><br>
    <input type="number" id="priority" name="priority">
  </div>
  <div>
    <label for="deadline">마감기한</label><br>
    <input type="date" id="deadline" name="deadline">
  </div>
  <div>
    <br>
    <input type="submit">
  </div>

</form>


{% endblock content %}