<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% if request.user.is_authenticated %}
    <h3>안녕하세요, {{ user }} 님!</h3>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>
    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>
    <a href="{% url 'accounts:update' %}">회원정보수정</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Signup</a>
  {% endif %}

  <h1>Articles</h1>

  <a href="{% url 'articles:create' %}">[CREATE]</a>

  {% for article in articles %}
  {% comment %} <p>작성자: {{ article.user.username }}</p> 둘 다 됨 AbstractUser에 username 출력하도록 정의 되어있기때문에. 원래대로면 user까지 썼을때 <user object> 나와야됨 {% endcomment %}
  <p>작성자: {{ article.user }}</p>
  <p>제목: 
      <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
    </p>
    <p>내용: {{ article.content }}</p>
    <hr>
  {% endfor %}
</body>
</html>
