@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap");
* {
  box-sizing: border-box;
}
.container {
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.navbar {
  height: 10%;
  /* border: 1px solid black; */
  display: flex;
  /* position: fixed;
      top :0;
      left: 0;
      right: 0; */
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.navbar1 {
  display: flex;
  flex-grow: 1;
  width: 25%;
  align-items: center;
}

.navbar1-1 {
  width: 15%;
  flex-grow: 1;
  text-align: center;
}

.navbar1-2 {
  width: 30%;
  flex-grow: 1;
}

.navbar1-3 {
  width: 55%;
  display: flex;
  flex-direction: column;
  position: static;
  justify-content: center;
  padding: 1rem;
}
.wikilogo {
  width: 90%;
  height: 90%;
}
.navbar1-3-1 {
  flex-grow: 1;
  font-size: 2.5rem;
  text-align: left;
  font-family: "Nanum Myeongjo", serif;
}
.navbar1-3-2 {
  flex-grow: 1;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
}

.navbar2 {
  display: flex;
  flex-grow: 1;
  width: 55%;
}

.navbar2__search {
  align-self: center;
  width: 80%;
  height: 50px;
  border: 1px solid black;
  display: flex;
}

.navbar2__search1 {
  flex-grow: 1;
}

.navbar2__search2 {
  border-right: 1px solid black;
  flex-grow: 10;
  height: 50px;
  font-size: 16px;
  padding-left: 20px;
  /* text- */
}

.navbar2__search3 {
  border: 1px solid black;
  height: 50px;
  flex-grow: 2;
  font-size: 16px;
}

.navbar3 {
  display: flex;
  flex-grow: 1;
  width: 20%;
}
.navbar3-1 {
  flex-grow: 1;
  margin: auto;
  text-align: center;
  width: 45%;
  font-size: 1.5rem;
}
.navbar3-2 {
  flex-grow: 1;
  margin: auto;
  text-align: center;
  width: 45%;
  font-size: 1.5rem;
}
.navbar3-3 {
  display: flex;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  width: 10%;
}
.main {
  /* position: sticky; */
  justify-content: center;
  height: auto;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  /* margin-top: 150px; */
}

.footer {
  width: 100%;
  height: 150px;
  padding: 1rem;
}

.main__nav {
  /* margin-top: 50px; */
  top: 0;
  /* margin-left: 35px; */
  padding: 35px;
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  font-size: 20px;
  width: 25%;
  height: 100%;
}
.main__nav__box {
  position: absolute;
  height: 30px;
  /* border: 1px solid black; */
}

.main__content {
  /* margin-left: 350px; */
  display: flex;
  /* flex-grow: 5; */
  flex-direction: column;
  width: 75%;
}

.main__content1 {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.main__content2 {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  flex-grow: 5;
}

.main__content3 {
  border-bottom: 1px solid black;
}
.main__content3-1 {
  line-height: 35px;
  font-size: 20px;
}

.main__content4 {
  border-bottom: 1px solid black;
}

.main__content4-1 {
  line-height: 35px;
  font-size: 20px;
}

.main__content5 {
  border-bottom: 1px solid black;
}

.main__content5-1 {
  line-height: 35px;
  font-size: 20px;
}

.main__content2-1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main__content2-1-1 {
  flex-grow: 2;
  line-height: 35px;
  font-size: 20px;
}

.main__content2-1-2 {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.main__content2-1-3 {
  flex-grow: 2;
  line-height: 35px;
  font-size: 20px;
}

.main__content2-1-4 {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.main__content2-1-5 {
  flex-grow: 2;
  line-height: 35px;
  font-size: 20px;
}

.main__content2-2 {
  width: 700px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 30px;
  background-color: rgb(233, 232, 232);
}

.main__content2-2__header {
  /* border: 1px solid black; */
  margin: 10px;
  padding: 10px;
  /* flex-grow: ; */
  text-align: center;
  background-color: rgb(170, 170, 170);
  font-size: 25px;
}

.main__content2-2__img {
  /* border: 1px solid black; */
  flex-grow: 1;
  text-align: center;
}

.main__content2-2__main {
  padding: 10px;
  /* border: 1px solid black; */
  flex-grow: 1;
  font-size: 20px;
}
.img_tim {
  width: 90%;
}
button {
  width: 4rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid white;
  cursor: pointer;
}

.vartical {
  vertical-align: middle;
}

h1 {
  font-size: 35px;
  margin-bottom: 0;
}
h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
